@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container other-page">

        <div class="section-header">
            <h3>Accounting</h3>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div style="width: 100%; height: auto; padding: 10px 0px;"></div>
            </div>
        </div>
        <!-- /Free Spacer colomn -->

        <!-- Three columns of text below the carousel -->








        <div class="row">
            <div class="col-lg-12">
                <h2>Accounting Consultancy</h2>
                <p>
                    Zenith It and Infra Solutions Pvt. Ltd. Provides Double Entry System Services. 
                </p>

                <p>
                    The services which includes in it are given below :                    
                </p>

                <p>Generating various reports such as Cash Book,Bank Book,Journal voucher Register,Contra Book,Purchase Book,Security Details,Security Refund Details,Bank Statements &amp; Reconcilations Budget Reports,Creaditors and Debtors, Case Flow and Fund Flow, Rajasthan State Accounting Manuals Report,Trail Balance, Income Expenditure Receipts and Payments,Balance Reports,Tax Report,Liability Register, Staff and Advance register,Function wise Statements and many more. </p>
                <p>At present We works for most of Nagarpalika's in Rajasthan State. </p>
            </div>

            <!-- /.col-lg-4 -->

        </div>
        <!-- /.row -->


        <!-- Free Spacer colomn -->
        <div class="row">
            <div class="col-lg-8">
                <div style="width: 100%; height: auto; padding: 10px 0px;"></div>
            </div>
        </div>
        <!-- /Free Spacer colomn -->

    </div>
    <!-- /.container -->

</section>
