@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container other-page">

        <div class="section-header">
            <h3>Association</h3>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div style="width: 100%; height: auto; padding: 10px 0px;"></div>
            </div>
        </div>
        <!-- /Free Spacer colomn -->
        <div class="col-lg-2">
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h2>RajCOMP Info Services Ltd</h2>
                <p>Zenith IT and infra Solutions Pvt Ltd have been empanelled with RajCOMP Info Services Ltd for Application Software development on deliverable basis &amp; Man Month basis. </p>
            </div>

            <div class="col-lg-2">
            </div>



        </div>

        <div class="row">
            <div class="col-lg-10">
                <h2>AMC Center and College,Lucknow</h2>
                <p>Zenith IT and infra Solutions have been empanelled to execute IT projects For AMC Center and College Lucknow as the Service Provider for Hardware(Supply of Computer Systems in stand alone mode),System Integration,Turnkey IT Projects,System Study &amp; Consultancy,Developement of Application Software,Special IT projects,Access Newworks,IT Training and Supply of Computer Peripherals. </p>
            </div>

            <div class="col-lg-2">
            </div>



        </div>

        <div class="row">
            <div class="col-lg-10">
                <h2>UP Electronics Corporation Ltd./UPLC HQ</h2>
                <p>Zenith IT and Infra Solutions have been empanelled with UPLC for Software Developers,IT Enabled Service Providers. </p>
            </div>

            <div class="col-lg-2">
            </div>



        </div>

        <div class="row">
            <div class="col-lg-10">
                <h2>Tally Solutions</h2>
                <p>Zenith IT and Infra Solutions is associated Partner of Tally. Zenith provides services including integration, customisation,education,maintenance contracts,data migration. </p>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <!-- Free Spacer colomn -->
        <div class="row">
            <div class="col-lg-8">
                <div style="width: 100%; height: auto; padding: 10px 0px;"></div>
            </div>
        </div>
        <!-- /Free Spacer colomn -->

    </div>

</section>
