@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="clients" class="section-bg">
    <div class="container other-page px-4 px-md-5">
        <div class="section-header">
            <h3>Clients</h3>
        </div>

        <div class="row">
            <div class="col-md-2 mb-4"><div class="client-box"><a >King George Medical College, Lucknow</a></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><a >Commander Work Engineers, Lucknow</a></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><a >Government Girls College, Pali</a></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><a >Lohiya College, Churu</a></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><a >RTMB/RPMB, Lucknow</a></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><a >Indira Gandhi Panchayati Raj &amp; Gramin Vikas Sansthan, Jaipur</a></div></div>

            <div class="col-md-2 mb-4"><div class="client-box"><a >Municipal Corporation, Tonk</a></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><a>Institute of Skill Development, Delhi</a></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><a >Shri CharBhuja Jewellers, Jaisalmer</a></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><a>Marketing Engineers &amp; Consultants, Jaipur</a></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><a>Kripanshu Security Services, Delhi</a></div></div>

            <div class="col-md-2 mb-4"><div class="client-box"><p>B.E.E.O Office Lalsot</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Municipal Board Jobner</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Municipal Board Nawa City</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Parbatsar</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Khetri</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Sujangrh</p></div></div>

            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Beendasar</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Ringus</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Pilani</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Ratangrh</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Rajaldeshar</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika ShardarShahar</p></div></div>

            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika TaraNagar</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Nadbai</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Didwana</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Kuchaman City</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Chirawa</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Mukundgarh</p></div></div>

            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Ladnu</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Chhaper</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Kotputli</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Fulera</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Mandawa</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Fatehpur</p></div></div>

            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Ratannagar</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Nagar Palika Neem Ka Thana</p></div></div>
            <div class="col-md-2 mb-4"><div class="client-box"><p>Govt. Polytechnic College Churu</p></div></div>
        </div>
    </div>
</section>