@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container other-page">

        <div class="section-header">
            <h3>Contact Us</h3>
            <p></p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>Corporate Office</h3>
                    <address>
                        <p><b>ZENITH IT AND INFRA SOLUTIONS PVT LTD</b></p>
                        <p>(Formely known as ZENITH I T SOLUTIONS PRIVATE LIMITED)</p>
                        <p>423,Plote No. F-45, OKAY PLUSE</p>
                        <p>Malviya Industrial Area,Malviya Nagar</p>
                        <p>Jaipur,(Rajasthan) PIN 302017</p>
                        <p>Telephone:0141-4016209</p>
                       
                        <p>Contact: +91 9667222701</p>
                        <p>E-mail:  info@zitsolutions.in</p>
                        <p>Website:  www.zitsolutions.in</p>
                    </address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>Business Support Office</h3>
                    <address>
                        <p>2nd Floor, Uttaranchal Trade Centre Nainital Road, Tikonia</p>
                        <p>Haldwani (Nainital), UTTARAKHAND.</p>
                        @*<p>Contact: +91 9680897724</p>*@
                        <p>E-mail:  info@zitsolutions.in</p>
                        <p>Website:  www.zitsolutions.in</p>
                    </address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>Registred Office</h3>
                    <address>
                        <p><b>ZENITH IT AND INFRA SOLUTIONS PVT LTD</b></p>
                        <p>(Formely known as ZENITH I T SOLUTIONS PRIVATE LIMITED)</p>
                        <p>B-41,Kanhaiya Nagar, Kanchana Vihari Marg,Near Pregnancy Public School</p>
                        <p>Kalyanpur,Lucknow(UP)-226022</p>
                        <p>E-mail:  info@zitsolutions.in</p>
                        <p>Website:  www.zitsolutions.in</p>
                    </address>
                </div>
            </div>

        </div>
        <iframe style="width: 100%; height: 400px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Apex+Circle,+Malviya+Nagar+Industrial+Area,+Malviya+Nagar,+Jaipur,+Rajasthan&amp;aq=0&amp;oq=ap&amp;sll=21.125498,81.914063&amp;sspn=23.389506,43.022461&amp;t=h&amp;ie=UTF8&amp;hq=Apex+Circle,+Malviya+Nagar+Industrial+Area,+Malviya+Nagar,+Jaipur,+Rajasthan&amp;ll=26.854841,75.824291&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
        <br>
        <small><a href="https://www.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Apex+Circle,+Malviya+Nagar+Industrial+Area,+Malviya+Nagar,+Jaipur,+Rajasthan&amp;aq=0&amp;oq=ap&amp;sll=21.125498,81.914063&amp;sspn=23.389506,43.022461&amp;t=h&amp;ie=UTF8&amp;hq=Apex+Circle,+Malviya+Nagar+Industrial+Area,+Malviya+Nagar,+Jaipur,+Rajasthan&amp;ll=26.854841,75.824291&amp;spn=0.006295,0.006295" style="color: #0000FF; text-align: left">View Larger Map</a></small>

    </div>
</section>
