@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/homepage_layout.cshtml";
}
<style>
    section-header
</style>
<!--==========================
    Services Section
============================-->
<section id="services" class="wow fadeIn">
    <div class="container">
        <header class="section-header" style="padding-top: 60px;">
            <h3>Explore our IT and Infrastructure services</h3>

        </header>
        <div class="row">
            <div class="col-md-6">
                <a href="../Account/itservicepage" class="service-boxx1">
                    <div class="service-content">
                        <div class="hover-text">Click To Know More ></div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="../Account/infraservicepage" class="service-boxx2">
                    <div class="service-content">
                        <div class="hover-text">Click To Know More ></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section><!-- #services -->
<!--==========================
  Featured Services Section
============================-->
<section id="" class="wrapper block-service">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="icon-block-outer">
                    <div class="post-content-inner">
                        <div class="list-inner">
                            <div class="icon-area">
                                <i class="ion-ios-eye-outline"></i>
                            </div>
                            <div class="icon-content-area">
                                <h3>OUR VISION</h3>
                                <div class="text">
                                    <p>To become a leading IT services company by providing best Solutions and services that align Business and IT to delight our clients.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="icon-block-outer">
                    <div class="post-content-inner">
                        <div class="list-inner">
                            <div class="icon-area">
                                <i class="ion-ios-eye-outline"></i>
                            </div>
                            <div class="icon-content-area">
                                <h3>OUR MISSION</h3>
                                <div class="text">
                                    <p>Integrity, Customer Delight, Accountability, Respect, Response, Entrepreneurship, Collaboration.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="icon-block-outer">
                    <div class="post-content-inner">
                        <div class="list-inner">
                            <div class="icon-area">
                                <i class="ion-ios-eye-outline"></i>
                            </div>
                            <div class="icon-content-area">
                                <h3>OUR VALUES</h3>
                                <div class="text">
                                    <p>Accountability, Respect, Response, Entrepreneurship, Collaboration.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #featured-services -->
<!--==========================
  Services Section
============================-->
<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeIn">
    <div class="container text-center">
        <h3>Enquiry</h3>
        <p></p>
        <a class="cta-btn" href="../Account/Enquiry">HOW CAN WE HELP YOU TODAY?</a>
    </div>
</section><!-- #call-to-action -->
<!--==========================
Reach Us outt
============================-->



<section id="call-to-action" class="wow fadeIn">
    <div class="container text-center">
        <h3>REACH US OUT </h3>
        <p>We’re here to help you with your IT and Infrastructure needs. Let’s get in touch.</p>
        <a class="cta-btn"  href="../Account/Contact">CONTACT US</a>
    </div>
</section><!-- #call-to-action -->
<!--==========================
  Clients Section
============================-->
<section id="clients" class="wow fadeInUp">
    <div class="container">

        <header class="section-header">
            <h3>Our Clients</h3>
        </header>

        <div class="owl-carousel clients-carousel">
            @*<img src="../../Content/images/anantlogo.png" alt="Anant Nidhi Groups,Lucknow" title="Anant Nidhi Groups,Lucknow">*@
            <img src="../../Content/images/kgmc.png" alt="King George Medical College" title="King George Medical College">
            <img src="../../Content/images/Sarvatra.png" alt="Commander Work Engineers,Lucknow" title="Commander Work Engineers,Lucknow">
            <img src="../../Content/images/pali.png" alt="Government Girls College,Pali" title="Government Girls College,Pali">
            <img src="../../Content/images/lohiya.png" alt="Lohiya College,Churu" title="Lohiya College,Churu">
            <img src="../../Content/images/Sarvatra.png" alt="RTMB/RPMB,Lucknow" title="RTMB/RPMB,Lucknow">
            @*<img src="../../Content/images/credit.png" alt="AnantNidhi Credit Co-operative" title="AnantNidhi Credit Co-operative">*@
            <img src="../../Content/images/igprs.png" alt="Indira Gandhi Panchayati Raj" title="Indira Gandhi Panchayati Raj">
            <img src="../../Content/images/tonk.jpg" alt="Municipal Corporation,Tonk" title="Municipal Corporation,Tonk">
            <img src="../../Content/images/iskill.png" alt="Institute of Skill Developement" title="Institute of Skill Developement">
            <img src="../../Content/images/tera.png" alt="TerraEka,Noida" title="TerraEka,Noida">
            <img src="../../Content/images/srinathjilogo.png" alt="Shri CharBhuja Jewellers,Jaisalmer" title="Shri CharBhuja Jewellers,Jaisalmer">
            <img src="../../Content/images/meac.png" alt="Marketing Engineers & Consultants" title="Marketing Engineers & Consultants">
            <img src="../../Content/images/bnslfrtr.png" alt="Bansal Furnitures,Sardar Sahar" title="Bansal Furnitures,Sardar Sahar">
            <img src="../../Content/images/ksecrty.png" alt="Kripanshu Security Services,Delhi" title="Kripanshu Security Services,Delhi">
            <img src="../../Content/images/srinathjilogo.png" alt="Shri CharBhuja Jewellers,Jaisalmer" title="Shri CharBhuja Jewellers,Jaisalmer">
        </div>

    </div>
</section><!-- #clients -->
