@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
   
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>About Us</h3>
                <p class="text-justify">ZITS is a contemporary technologies software services and products company offering solutions for Government And Retail Business. The company follows the best Software Engineering practices to produce quality software. Our strength is to add value to our customer IT needs Globalising through continuous application of knowledge, experience and contemporary technologies. We are a small family business with pool of skilled resources each adding value to customer by taking ownership, which is found lacking with a larger company. If you have been looking for a Setup & Management of Infrastructure, Implementation & Support of ERP with high skilled resources then we may well be the answer you are looking for. ZITS can offer you a level of service of the high standard at a rate which cannot be matched. This helps customer plan other activity at no or minor additional budget. We have fully trained and experienced team to cater to the need of any IT business. You can count on us to save on IT expenses and better answer to your users.</p>
                <p class="text-justify">
                    ZITS develop state of the art software solutions in field of business applications and networking. The company also markets, sell and support software products, web-sites, and Network Projects and offers turnkey solutions to customers. We have core competency in proving cost effective solutions to SME segment in all areas of IT Services including design of applications / network, development, implementation and support. Our implementation methodology drastically cuts down the implementation time thereby cutting down cost & increasing ROI.
                </p>
            </header>


        </div>
    </section><!-- #about -->

</main>
