@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
   
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>About Us</h3>
                <p class="text-justify">ZITS is a contemporary technologies software services and products company offering solutions for Government And Retail Business. The company follows the best Software Engineering practices to produce quality software. Our strength is to add value to our customer IT needs Globalising through continuous application of knowledge, experience and contemporary technologies. We are a small family business with pool of skilled resources each adding value to customer by taking ownership, which is found lacking with a larger company. If you have been looking for a Setup & Management of Infrastructure, Implementation & Support of ERP with high skilled resources then we may well be the answer you are looking for. ZITS can offer you a level of service of the high standard at a rate which cannot be matched. This helps customer plan other activity at no or minor additional budget. We have fully trained and experienced team to cater to the need of any IT business. You can count on us to save on IT expenses and better answer to your users.</p>
                <p class="text-justify">
                    ZITS develop state of the art software solutions in field of business applications and networking. The company also markets, sell and support software products, web-sites, and Network Projects and offers turnkey solutions to customers. We have core competency in proving cost effective solutions to SME segment in all areas of IT Services including design of applications / network, development, implementation and support. Our implementation methodology drastically cuts down the implementation time thereby cutting down cost & increasing ROI.
                </p>
            </header>


        </div>
    </section><!-- #about -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Association</h3>
                <p></p>
            </header>

            <div class="row">

                <div class="col-lg-6 col-xs-12 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"></div>
                    <h4 class="title"><a href="">RajCOMP Info Services Ltd</a></h4>
                    <p class="description">Zenith IT and Infra Solutions Pvt Ltd have been empanelled with RajCOMP Info Services Ltd for Application Software development on deliverable basis & Man Month basis.</p>
                </div>
                <div class="col-lg-6 col-xs-12 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"></div>
                    <h4 class="title"><a href="">AMC Center and College,Lucknow</a></h4>
                    <p class="description">Zenith IT and Infra Solutions have been empanelled to execute IT projects For AMC Center and College Lucknow as the Service Provider for Hardware(Supply of Computer Systems in stand alone mode),System Integration,Turnkey IT Projects,System Study & Consultancy,Developement of Application Software,Special IT projects,Access Newworks,IT Training and Supply of Computer Peripherals.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"></div>
                    <h4 class="title"><a href="">UP Electronics Corporation Ltd./UPLC HQ</a></h4>
                    <p class="description">Zenith IT and Infra Solutions have been empanelled with UPLC for Software Developers,IT Enabled Service Providers.</p>
                </div>
                <div class="col-lg-6 col-xs-12 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"></div>
                    <h4 class="title"><a href="">Tally Solutions</a></h4>
                    <p class="description">Zenith IT and Infra Solutions is associated Partner of Tally. Zenith provides services including integration, customisation,education,maintenance contracts,data migration.</p>
                </div>
            </div>

        </div>

    </section><!-- #services -->
    <!-- #clients -->
</main>
